.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0 }
.clearfix { display: inline-block }
html[xmlns] .clearfix { display: block}

.wpa-section {
	border: 1px solid #CCC;
	padding: 12px;
	margin-top: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:#fff;
}
.wpa-shadow{-moz-box-shadow: 0px 0px 10px #888;}
.wpa-spacing-top{margin-top:30px; width:95%;}
.wpa-logo-section{
	padding:10px;
	background:#292929;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.wpa-logo-section .left{float:left;}
.wpa-logo-section h2{
	margin: 20px 25px 0 0;
	float:right; 
	color:#fff; 
	font-size:19px;
	font-weight: normal;
}
.wpa-section h1{
	margin:0;
	padding-bottom:10px;
	font-size:18px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}
.wpa-section h1 .heading{float:left;padding-top:2px; padding-left:35px}
.setting-icon{
	float:left;
	width:24px;
	height:24px;
	margin-right:10px;
	vertical-align: top;
	background:url(../images/setting-ico.gif) no-repeat;
}
.wpa-section .row{
	padding: 15px 0; 
	border-bottom:1px solid #ddd;
}

<!--.setting-section{min-height:280px;}-->
.setting-section{min-height:120px;}

.setting-section .col1{
	float:left; 
	margin-right: 15px;
	padding-top: 3px; 
	width:120px;
	text-align:left;
}
.setting-section .col2{
	float:left; 
	width:160px;
}
.setting-section .col2 select{
	width:204px;
}
input#adEmail {
	width: 204px;
}
input#adName{
	width: 204px;
}
a.btn-bg{
	margin-top:20px;
	display:block;
	padding-top:7px;
	color:#494949;
	width:142px;
	height:27px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-shadow: #fff 0 1px 1px;
	background:url(../images/btn-bg.gif) no-repeat;
	
}
.advertisement-form{ border-bottom: 1px solid #DDDDDD; padding: 15px 0; }
.advertisement-form #horizontal{
	width : 177px;
}
.advertisement-form #vertical{
	width : 187px;
}
.advertisement-form #horizontalUpd{
	width : 177px;
}
.advertisement-form #verticalUpd{
	width : 187px;
}
.advertisement-form #advertisersListing{
	width : 190px;
}
.advertisement-form #campaign{
	width: 188px;
}
input#signup {
	width: 177px;
}
.row1{
	float: left;
	width: 310px;
	border: none;
	margin-left: 15px;
	padding-left: 15px;
}
.clr{ clear: both; }

.close-icon{
	float:left;
	width:270px;
	height:24px;
	margin-right:10px;
	vertical-align: top;
	background:url(../images/close.png) no-repeat;
	cursor:pointer;

}
.open-icon{
	float:left;
	width:270px;
	height:24px;
	margin-right:10px;
	vertical-align: top;
	background:url(../images/open.png) no-repeat;
	cursor:pointer;
}
.button1{
	border-width: 0 !important;
	cursor: pointer;
}
#adverTable{
	margin: 10px 0px;
}
#adverTable th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#adverTable td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}

#runningCampaign{
	margin: 10px 0px;
}
#runningCampaign th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#runningCampaign td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}

#pausedCampaign{
	margin: 10px 0px;
}
#pausedCampaign th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#pausedCampaign td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}

#finishedCampaign{
	margin: 10px 0px;
}
#finishedCampaign th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#finishedCampaign td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}



#adzonesTable{
	margin: 10px 0px;
}
#adzonesTable th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#adzonesTable td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}


#Package{
	margin: 10px 0px;
}
#Package th{
	background: #f5f5f5;
	font-weight: normal;
	text-align: left;
	padding: 5px 0 5px 5px;
}
#Package td{
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0 5px 5px;
}



.editbttn{
	background:url(../images/edit-bttn.jpg) no-repeat;
	width: 51px;
	height: 22px;
}
.statsbttn{
	background:url(../images/stats-bttn.jpg) no-repeat;
	width: 51px;
	height: 22px;
}
.addbttn{
	background:url(../images/add-bttn.jpg) no-repeat;
	width: 51px;
	height: 22px;
}
.deletebttn{
	background:url(../images/delete-bttn.jpg) no-repeat;
	width: 62px;
	height: 22px;
}

.changebttn{
	background:url(../images/change.jpg) no-repeat;
	width: 62px;
	height: 22px;
}

.acceptbttn{
	background:url(../images/accept.jpg) no-repeat;
	width: 62px;
	height: 22px;
}

.declinebttn{
	background:url(../images/decline.jpg) no-repeat;
	width: 62px;
	height: 22px;
}
.pausebttn{
	background:url(../images/pause-bttn.jpg) no-repeat;
	width: 60px;
	height: 22px;
}
.runbttn{
	background:url(../images/run-bttn.jpg) no-repeat;
	width: 49px;
	height: 22px;
}
.viewbttn{
	background:url(../images/view-bttn.jpg) no-repeat;
	width: 52px;
	height: 22px;
}


.borderBottomNone { border-bottom: none;}
.statisticsImg { padding: 10px 0; border-bottom: 1px solid #ddd;}

.btn-bg2 { background:url(../images/btn-bg.gif) no-repeat; padding: 10px; border: none!important; font-weight: bold; color: #494949; text-shadow: 0 1px 1px #FFFFFF; cursor: pointer; font-size: 13px;width:142px;margin-top: 20px;}
.btn-bg2:hover { color: #D54E21!important;}
input[type="submit"]::-moz-focus-inner{border: none;}
input[type="reset"]::-moz-focus-inner{border: none;}
input[type="button"]::-moz-focus-inner{border: none;}

.wpt-loader {
  width: 350px;
  height: 120px;
  left: 50%;
  margin-left: -175px;
  position: absolute;
  background: url(../images/loader-bg.png) repeat top left;
  top: 0px;
  border: 4px solid #CCC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px #888;
  -moz-border-radius: 10px;
}

.wpt-loader table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: none;
}
.wpt-loader table td {
  border: none;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.wpt-loader .wpt-loading-icon {
  background: url(../images/wpt-loading-icon.gif) no-repeat center center;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.wpt-loader .wpt-loading-text {
  display: block;
  padding: 3px;
  font-size: 12px;
  color: #888;
  text-align: center;
}

.link { font-size: 11px; padding: 3px 0; color: #666;}
.txtOrange { color: #D54E21;}

.impression-warning{
    background   : url(../images/warning.png) no-repeat  95% 2px;
}
.impression-alert{
    background: url(../images/warning.png) no-repeat 4px 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#hover-message{
	display: none;
}
.impression-alert:hover + #hover-message{
	display: block;
	opacity: .7;
	font-style: italic;
	padding-top: 10px;
}


/* FORM STYLE */


/*.purchaseForm { border: 1px solid #ff0000;*width: 90%; margin: 0 auto; padding:50px;}  #f3f6ed
.purchaseForm dl dt,.purchaseForm dl dd { float: left; font: normal 13px Verdana, Arial, Helvetica, sans-serif; padding: 0; margin-bottom: 10px!important;}
.purchaseForm dl dt { width: 150px; clear: both;}
.purchaseForm dl dd { width: 250px;}

.purchaseForm dl dd input[type="text"], .purchaseForm dl dd select { margin-bottom: 0px; border: 1px solid #ccc; width: 315px; padding: 5px;}
.purchaseForm dl dd select { width: 240px!important; }
.purchaseForm table td select { width: 240px!important; }
.purchaseForm table td select { margin-bottom: 0px; border: 1px solid #ccc; width: 315px; padding: 5px;}
.purchaseForm table td input[type="submit"] { border: 1px solid #ddd; font: bold 12px Arial, Helvetica, sans-serif; cursor: pointer; margin-top: 10px;}*/


.purchaseForm { background:#e8f5ff; font: normal 12px Arial, Helvetica, sans-serif; padding: 8px;}
.purchaseForm select, .purchaseForm input[type="text"] { border: 1px solid #d9dfce; margin-bottom: 0px; background: url(../images/form_input_bg.png) #fff repeat-x top; font: normal 12px Arial, Helvetica, sans-serif!important; color: #6f6a70!important; padding: 5px; width: 270px;}
.purchaseForm input[type="text"]{ box-shadow: none!important;}
.purchaseForm input[type="text"], .purchaseForm input[type="submit"] { *margin-left: -20px;  margin-bottom: 0px!important;}
.purchaseForm input[type="file"] { margin-bottom: 0px!important; font: normal 12px Arial, Helvetica, sans-serif!important;}
.purchaseForm select{ width: 282px; font-size:13px!important; font-family:"Times New Roman", Times, serif!important;}
.purchaseForm dl dd, .purchaseForm dl dt { float: left;width: 110px; min-height: 10px; margin-bottom: 15px!important; font-weight: normal; color: #6f6a70!important;}
.purchaseForm dl dt { clear: both; margin-right: 20px; text-align: right; padding-top: 5px;}
.purchaseForm dl dd { width: 465px;}
.formDivider { height: 0; border-top: 1px solid #d6ddc7; border-bottom: 1px solid #fbfdf8;}
.entry-content label { padding-left: 12px; font-size: 11px;}

.submitBnt { background: url(../images/form_btn_bg.png) repeat-x top; border: 1px solid #d6ddc7; font: bold 15px Arial, Helvetica, sans-serif!important; color: #6f6a70; padding: 5px 12px; cursor: pointer}
.submitPaynow { background: url(../images/form_btn_bg.png) repeat-x top; border: 1px solid #d6ddc7; font: bold 15px Arial, Helvetica, sans-serif!important; color: #6f6a70; padding: 3px 1px; cursor: pointer}
.submitBnt:active { background-position: 0 -30px;}


.zoneDetails{ padding:0 0 0 40px;}
.zoneDetails table tr td, .zoneDetails table tr th, .zoneDetails table { border: none!important; padding: 0!important; margin: 0;}

.zoneDetails2{ padding:20px 0 0 0px;}
.zoneDetails2 table tr td, .zoneDetails2 table tr th, .zoneDetails2 table { border: none!important; padding: 0!important; margin: 0;}


.banHeading{padding:4px 0 16px 0;}

.paynow{font-weight: bold; padding: 3px 5px; font-size: 12px; color: rgb(255, 255, 255); border: medium none; background:#C6FFFF; float: right; cursor:pointer;}

.desc_text{
	float:right;
	margin-left: 20px;
	background: url(../images/help.png) no-repeat scroll left 3px transparent;
	padding: 0px 0px 3px 20px;
}

#settingForm .row .col2{
	width:auto !important;
}
.mar_right{ margin-right: 205px; }
/*
#settingForm .row .col2 input{
	 margin-left: 10px;
}*/